<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
 	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	name="arm">
<!-- Import all Gazebo-customization elements, including Gazebo colors -->
<xacro:include filename="$(find ros_intro)/urdf/robot.urdf"/>

</robot>